[Unit]
Description=Run the Minecraft restic backup every day

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=15min
Unit=minecraft-backup.service

[Install]
WantedBy=timers.target
