[Unit]
Description=Run the Minecraft restic backup every hour

[Timer]
OnCalendar=hourly
Persistent=true
Unit=minecraft-backup.service

[Install]
WantedBy=timers.target
